---
import { PLATFORM_NAME } from "astro:env/client";

interface Props {
  description?: string;
  title?: string;
}

const THEME_DARK = "#000";
const { description, title: propTitle } = Astro.props;
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
const imageAlt = `${PLATFORM_NAME} logo`;

let title = PLATFORM_NAME;

if (propTitle) {
  title += ` | ${propTitle}`;
}
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="application-name" content={PLATFORM_NAME} />
<meta name="color-scheme" content="dark light" />
{description && <meta name="description" content={description} />}
<meta name="generator" content="Astro" />
<meta name="keywords" content="social, profile" />
<meta name="referrer" content="no-referrer" />
<meta name="theme-color" content={THEME_DARK} />
<!-- <meta name="theme-color" content={themeLight} media="(prefers-color-scheme: light)" /> -->

<link rel="author" href="/humans.txt" type="text/plain" />
<link rel="canonical" href={canonical} />
<link rel="help" href="/i/help" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="privacy-policy" href="/i/privacy" />
<link rel="terms-of-service" href="/i/terms" />

<title>{title}</title>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content={PLATFORM_NAME} />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4c4c4c" type="image/svg+xml" />

{description && <meta property="og:description" content={description} />}
{
  /* <meta property="og:image" content={ogImage.url} />
<meta property="og:image:type" content={ogImage.type} />
<meta property="og:image:height" content={ogImage.height} />
<meta property="og:image:width" content={ogImage.width} /> */
}
<meta property="og:image:alt" content={imageAlt} />
<meta property="og:site_name" content={PLATFORM_NAME} />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonical} />

<meta name="audience" content="all" />

<meta name="designer" content="Stefan Samson <ss42701@outlook.com> (https://ssbit01.github.io)" />

<meta name="license" content="MIT" />
<meta name="license:uri" content="https://github.com/profile-rocks/profile-rocks-web/blob/main/LICENSE" />

<!-- A vendor-neutral version of apple-mobile-web-app-capable -->
<meta name="mobile-web-app-capable" content="yes" />

<!--
Prevent Microsoft software from adding content to the web page:
https://brittlebit.org/specifications/html-meta-mssmarttagspreventparsing/specification-for-html-meta-element-with-name-value-mssmarttagspreventparsing.html
-->
<meta name="MSSmartTagsPreventParsing" content="true" />
